{% macro showNextEvent(nextEvent) %}
    {% if nextEvent %}
        <div class="border border-primary h-75">
            <h2 class="text-center">{{ nextEvent['titre'] }}</h2>
            <ul>
                <li>{{ nextEvent['date'] }}</li>
                <li>{{ nextEvent['desc'] }}</li>
            </ul>
        </div>
    {% else %}
        <div class="border border-primary h-75 d-flex justify-content-center align-items-center">
            <h3>{% trans %}No events programmed{% endtrans %}</h3>
        </div>
    {% endif %}
{% endmacro %}

{% macro showCommuFlow(commuFlow) %}
    {% if commuFlow %}
        {# TODO #}
    {% else %}
        <div class="border border-primary h-75 d-flex justify-content-center align-items-center">
            <h3>{% trans %}No communities followed{% endtrans %}</h3>
        </div>
    {% endif %}
{% endmacro %}