{% extends 'base.html.twig' %}

{% block title %}Hello SignUpController!{% endblock %}

{% block body %}

<div class="container">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/paul/projet-web-l3/projet-web/src/Controller/SignUpController.php'|file_link(0) }}">src/Controller/SignUpController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/paul/projet-web-l3/projet-web/templates/sign_up/index.html.twig'|file_link(0) }}">templates/sign_up/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
